# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mac File System
.DS_Store
Icon?
*/Icon?

# Workspace
seperated_implementation/results/*
seperated_implementation/transfer_learning/data/*
seperated_implementation/!transfer_learning/checkpoints/weights_new_keras.keras
seperated_implementation/transfer_learning/checkpoints/*
